<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content dir="ltr">
  <button ion-button full (click)="clearAllData()">پاک کردن پایگاه داده</button>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.key}} : {{item.title}}
    </button>
  </ion-list>
  <div *ngIf="firstItem" padding>
    You navigated here from <b>{{firstItem.title}}</b>
  </div>
</ion-content>
